
@{
    ViewData["Title"] = "Index";
}

=<div class="row">
     <section class="col-12">
         <h2 class="text-center">Velkommen til DemoSite</h2>
         <h3 class="text-center">Budget-App</h3>
     </section>
    <section class="row mt-4">
        <div class="card col-3 offset-1" >
            <div class="card-header">Konti</div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/accounts" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card col-3 offset-1">
            <div class="card-header">Under Konti</div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card col-3 offset-1">
            <div class="card-header">Transaktioner</div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </section>
</div>

